$blue: #2799f7;
$green: #11f2b6;
$purple: #c026d4;
$yellow: #ffa81f;

$black: #000;
$white: #fff;
$deepDusk: #16093B;
$dusk: #261D40;
$lightDusk: #302A40;

$other: #1A203A;
$otherLight: #262D49;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

$blueTint: tint($blue, 25%);
$greenTint: tint($green, 25%);
$purpleTint: tint($purple, 25%);
$yellowTint: tint($yellow, 25%);

$blueShade: shade($blue, 25%);
$greenShade: shade($green, 25%);
$purpleShade: shade($purple, 25%);
$yellowShade: shade($yellow, 25%);
$animSpeed: 28s;
