
$blue: #2799f7;
$green: #11f2b6;
$purple: #c026d4;
$yellow: #ffa81f;

$deepBlue: #2763A0;
$deepGreen: #1C8F7F;
$deepPurple: #73298E;
$deepYellow: #936A34;

$black: #000;
$white: #fff;
$deepDusk: #16093B;
$dusk: #261D40;
$lightDusk: #302A40;

$other: #1A203A;
$otherLight: #262D49;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

$blueTint: tint($blue, 25%);
$greenTint: tint($green, 25%);
$purpleTint: tint($purple, 25%);
$yellowTint: tint($yellow, 25%);

$blueShade: shade($blue, 25%);
$greenShade: shade($green, 25%);
$purpleShade: shade($purple, 25%);
$yellowShade: shade($yellow, 25%);
$animSpeed: 28s;

* {
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 300;
}

// Vue-Material Theme.
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: $deepDusk, // The primary color of your application
  accent: $yellow, // The accent or secondary color
  theme: dark
));

@import "~vue-material/dist/theme/all"; // Apply the theme