$blue: #2799f7;
$green: #11f2b6;
$purple: #c026d4;
$yellow: #ffa81f;

$black: #000;
$grayDark: #383838;
$grayMid: #484848;
$grayLight: #6F6F6F;

$other: #1A203A;
$otherLight: #262D49;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

$blueTint: tint($blue, 25%);
$greenTint: tint($green, 25%);
$purpleTint: tint($purple, 25%);
$yellowTint: tint($yellow, 25%);

$blueShade: shade($blue, 25%);
$greenShade: shade($green, 25%);
$purpleShade: shade($purple, 25%);
$yellowShade: shade($yellow, 25%);
$animSpeed: 28s;

.gradient-background {
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}


.blue{
    background: linear-gradient(305deg, $blue, $green);
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}
.green{
    background: linear-gradient(305deg, $green, $purple);
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.purple{
    background: linear-gradient(305deg, $purple, $yellow);
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}
.yellow{
    background: linear-gradient(305deg, $yellow, $blue);
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}
.special {
    background: linear-gradient(305deg, $blue, $purple);
    -webkit-animation: GradientBackground $animSpeed ease infinite;
    -moz-animation: GradientBackground $animSpeed ease infinite;
    animation: GradientBackground $animSpeed ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBackground { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}